{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/data.json {:mvn/version "0.2.7"},
  nuid/transit
  {:git/url "https://github.com/nuid/transit.git",
   :sha "88debe0b8fb934d0514a54066a12c3a99142269f"},
  nuid/base64
  {:git/url "https://github.com/nuid/base64.git",
   :sha "bfcd083c49dad1137b7e3f41ae167e1ece4f3d7b"},
  mvxcvi/clj-cbor {:mvn/version "1.0.0"}},
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.753"},
    thheller/shadow-cljs {:mvn/version "2.8.109"}}}},
 :paths ["src"]}
